
html{
    background-color: rgba(0, 0, 0, 0);
}


div:hover {
    cursor: pointer;
}

/*DEFAULT SPHERE*/
.sphere {
    height: 2vw;
    width: 2vw;
    border-radius: 30%;
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    /* box-shadow:
        inset 0.2vw -0.1vw 0.2vw 0vw rgba(86, 11, 11, 0.2); */
}



/*BLUE*/
.sphere.blue:hover {
    border-color: rgb(51, 163, 255);
    transition-timing-function: ease-in;
    transition-delay: 0s;

    box-shadow: 0 0 0.25vw 0.1075vw #fff, 0 0.2 0.2298vw 0.2vw #c337ff90, 0.2 0 0.396vw 0.3vw #00aeff93;
}

.touched {
    box-shadow: 0 0 0.25vw 0.1075vw #fff, 0 0 0.2298vw 0.2vw #b400ff, 0 0 0.396vw 0.3vw #00aeff93;
}

.sphere.blue.touched {
    background-color: rgb(51, 163, 255);
    border-color: rgb(51, 163, 255);
}
